#
# Add this file to the root of your git repo.  Name it .gitignore
#
# A .gitignore file will tell git which files and directories to ignore and
# not add to version control.



*.pem
*.db
var/

node_modules/
cookies.txt
session.json
bundle.js
*.js.map
**/e2e/test_cypress_hello.cy.js
# Don't include the screenshots and videos that Cypress generates in headless mode.
**/cypress/videos
**/cypress/screenshots

tmp
output

output*
total_document_count.txt
**/inverted_index/input/crawl/

# Python
*.pyc
__pycache__/
*.egg-info*
dist/
env/
venv/
venv3/
.venv/
.pytest_cache

# JavaScript
bundle.js
*node_modules*
files_for_autograder_io/
*/var/*

# Virtual Machines
.vagrant/

.history/

# Text editors and IDEs
*~
*.lock
*.swp
.vscode
.ropeproject/
.vscode/
.idea

# macOS system files
*.DS_Store

# Google Drive and Dropbox
Icon
.dropbox*
