<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Insta485</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>


<body>
    <div class="upper-left-corner">
        <!-- If you have a logo, use an img tag instead -->
        <a href="/">
            <img src="/static/images/Instagram.png" alt="Instagram Logo">
        </a>
        <span class="vertical-line"></span>

        <span class="text-after-line">
            Insta485
        </span>

        <span class="right-text">
            
            <a href="/explore/" style="color: black;">explore</a> | <a href="/users/{{logname}}/" style="color: black;"> {{logname}} </a>

        </span>

        

    </div>
    
    <div class="horizontal-line"></div>

    <p class="bigboldtext">
        Discover People
    </p>
    {%for user in not_following %}
    <div class="followerinfo">   
        <a href="/users/{{user.username}}/">
        <img class = "userimg" src={{user.user_img_url}} alt="{{user.username}}">
        </a>
        <a href="/users/{{user.username}}/"><span class = "username"> {{user.username}} </span></a>
        <form action="/following/?target=/explore/" method="post" enctype="multipart/form-data">
            <input type="submit" name="follow" value="follow">
            <input type="hidden" name="username" value="{{user.username}}">
            <input type="hidden" name="operation" value="follow">
        </form>
        <span class="followingornot"> </span>
    </div>
    {%endfor%}

</body>
</html>