<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta485</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
    <!-- DO NOT CHANGE THIS (aside from styling) -->
    <form class = "form" action="/accounts/?target=/" method="post" enctype="multipart/form-data">
        <input type="password" name="password" required placeholder="password">
        <input type="password" name="new_password1" required placeholder="new_password1">
        <input type="password" name="new_password2" required placeholder="new_password1">
        <input type="submit" name="update_password" value="submit"/>
        <input type="hidden" name="operation" value="update_password"/>
    </form>
    <a href = "/accounts/edit/">
        <p style="text-align: center;">Edit?</p>
    </a>
</body>
</html>