<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta485</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">

</head>


<body>
    <div class="upper-left-corner">
        <!-- If you have a logo, use an img tag instead -->
        <a href="/">Home</a>
    </div>

    <div class="horizontal-line"></div>

    <div class="userpage">
        <div class="username">
            {{username}}
        </div>
        <div class="text">
            {% if username == logname %}
            <a href="/accounts/edit">Edit profile</a>
            <form action="/accounts/logout/" method="post" enctype="multipart/form-data">
                <input type="submit" name="logout" value="Logout" />
            </form>
            {% endif %}
            </div>
        </div>
</body>

</html>